tunnel: {{ cloudflare_tunnel.name }}
credentials-file: /home/{{ cloudflare_tunnel.user }}/.cloudflared/{{ cloudflare_tunnel.name }}.json
origincert: /home/{{ cloudflare_tunnel.user }}/.cloudflared/cert.pem
protocol: http2

ingress:
  - hostname: {{ cloudflare_tunnel.domain }}
    service: http://localhost:{{ cloudflare_tunnel.local_port }}
  - service: http_status:404 